doctype html
html
    head
        meta(charset='utf-8' name='viewport' content='width=device-width', initial-scale='1.0')
        title Add Friend
        style
            include style.css
        script(src='/search_add_user.js')
    body
        div(id='container' class='main_container')
            div(style='padding: 20px;')
            div(class='login_container')
                div(class='form_container')
                    form(name='add_friend_form' action='/addFriend' method='get')
                        div(style='height: 10px;')
                        center
                            svg(xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-people" viewBox="0 0 16 16")
                                path(d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8zm-7.978-1A.261.261 0 0 1 7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002a.274.274 0 0 1-.014.002H7.022zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816zM4.92 10A5.493 5.493 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275zM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4z")
                            div(class='form_title_p' data-role='header') 사용자 목록
                        br
                        br
                        div(data-role='content')
                            div
                                a(class='form_item_name') 이름
                            div(style='height: 3px;')
                            input(type='text' name='search_name' placeholder="Enter user's name" class='form_search_name')
                            button(type='button' class='form_search_button' value=`${user_list}` onclick='searchUser(value)') 검색
                            ul(data-role='listview' style='overflow: scroll; width: 250px; height: 330px;')
                                -if(user_name == null)
                                    -for(person in user_list)
                                        button(type='button' class='form_add_user_button' value=`${user_list[person]}` onclick='addFriend(value)')
                                            svg(xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 16 16")
                                                path(d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z")
                                                path(fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z")
                                        a= user_list[person]
                                        br
                                -else
                                    -for(person in user_list)
                                        -if(user_list[person].indexOf(user_name) != -1)
                                            button(type='button' class='form_add_user_button' value=`${user_list[person]}` onclick='addFriend(value)')
                                                svg(xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 16 16")
                                                    path(d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z")
                                                    path(fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z")
                                            a= user_list[person]
                                            br